body {
    background-color: #A5C9CA;
}

/* .color-1 {
    background-color: #0077b6;
}

.color-2 {
    background-color: #fb8500;
}

.color-3 {
    background-color: #0077b6;
}

h1,
p,
h3,
h5,
.text-color {
    color: white;
} */